$enable-responsive-font-sizes: true;
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

$body-bg: #DCD6D6;
$text-dark: #291E1E;
$link-color: #BD756F;
$link-color--hover: #9E6FBD;
$navbar-link-color: $body-bg;
$navbar-link-color--hover: #C77588;
$header-height: 4em;
$footer-height: 4.5em;

#root {
    min-height: 100vh;
    color: $text-dark;
    background-color: $body-bg;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-rows: $header-height 1fr $footer-height;
    }
}

h1, h2, h3 {
    font-family: 'Limelight', cursive;
    margin-bottom: 1em;
}

a {
    color: $link-color;

    &:hover {
        text-decoration: none;
        color: $link-color--hover;
    }
}

.main-menu {
    --menu-padding: 1em;
    
    padding-left: var(--menu-padding);
    padding-right: var(--menu-padding);

    @include media-breakpoint-up(md) {
        --menu-padding: 5em;
    }

    @include media-breakpoint-up(xl) {
        --menu-padding: 10em;
    }

    @media (min-width: 1440px) {
        --menu-padding: 25em;
    }
}

// Overwrite de clase de react-bootsrap
.mr-auto {
    width: 100%;
    justify-content: flex-end;
    gap: 1.5em;
    
    a {
        color: $navbar-link-color;
        transition: .25s;

        &:hover {
            color: $navbar-link-color--hover;
        }
    }

    .active {
        color: $navbar-link-color--hover;
        
        @include media-breakpoint-up(md) {
            transform: scale3d(1.25, 1.25, 1)
        }
    }
}

.icon {
    --icon-height: 2.5em;

    height: var(--icon-height);

    @include media-breakpoint-up(md) {
        --icon-height: 2.75em;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .90em;
    flex-grow: 0;

    height: $footer-height;
}

.home-container {

    &>* {
        --my-margin-bottom: 1.5em;

        margin-bottom: var(--my-margin-bottom);

        @include media-breakpoint-up(md) {
            --my-margin-bottom: 2.5em;
        }

        @media (min-width: 1440px) {
            --my-margin-bottom: 3.5em;
        }
    }
}

.main-container {
    --my-margin-top: 1.5em;

    flex-grow: 1;
    margin-top: var(--my-margin-top);

    @include media-breakpoint-up(md) {
        --my-margin-top: 3em;
    }
}

.balls-row {
    justify-content: center;

    &>* {
        margin-bottom: 1em;           
    }
}

.ball-container {
    position: relative;

    span {
        --my-font-size: 1.5em;

        width: 100%;
        height: 100%;
        font-size: var(--my-font-size);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(md) {
            --my-font-size: 2em;
        }
    }

    svg {
        --ball-width: 4.5em;

        width: var(--ball-width);

        @include media-breakpoint-up(md) {
            --ball-width: 100px;
        }
    }
}

.buttons-group {
    display: grid;

    @include media-breakpoint-up(md) {
        display: flex;
        gap: 1em;
    }
}

.form-result {
    --my-margin-top: 1.5em;

    margin-top: var(--my-margin-top);
    margin-bottom: 2em;

    @include media-breakpoint-up(md) {
        --my-margin-top: 0;
    }

    p {
        font-size: .90em;
    }
}

.bigger-text {
    --my-font-size :1.25em;

    font-size: var(--my-font-size);

    @include media-breakpoint-up(md) {
        --my-font-size: 2em;
    }

    span {
        display: block;
        font-size: .85em;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

// css original de react para el estilo y animación del logo en la página Acerca de
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}