$enable-responsive-font-sizes: true;
$theme-colors: (
    "secondary": #C77588
);

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

$body-bg: #DCD6D6;
$text-dark: #291E1E;
$link-color: #BD756F;
$link-color--hover: #9E6FBD;
$navbar-link-color: $body-bg;
$navbar-link-color--hover: #C77588;

#root {
    --header-height: 3em;
    --footer-height: 4.5em;

    display: grid;
    position: relative;
    min-height: 100vh;
    color: $text-dark;
    background-color: $body-bg;
    font-family: 'Open Sans', sans-serif;
    grid-template-rows: 1fr var(--footer-height) var(--header-height);
    grid-template-columns: 100vw;

    @include media-breakpoint-up(md) {
        --header-height: 4em;
        grid-template-rows: var(--header-height) 1fr var(--footer-height);
    }
}

h1, h2, h3 {
    font-family: 'Limelight', cursive;
    margin-bottom: 1em;
}

a {
    color: $link-color;

    &:hover {
        text-decoration: none;
        color: $link-color--hover;
    }
}

.main-menu {
    --menu-padding: 1em;

    position: sticky;   
    z-index: 1;
    grid-row: 3;
    bottom: 0;
    padding-left: var(--menu-padding);
    padding-right: var(--menu-padding);

    @include media-breakpoint-up(md) {
        --menu-padding: 5em;

        top: 0;
        grid-row: 1;
    }

    @include media-breakpoint-up(xl) {
        --menu-padding: 10em;
    }

    @media (min-width: 1440px) {
        --menu-padding: 25em;
    }
}

// Overwrite de clase de react-bootsrap
.mr-auto {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 1.5em;

    @include media-breakpoint-up(md) {
        justify-content: flex-end;
    }

    .active {
        color: $navbar-link-color--hover;
        
        @include media-breakpoint-up(md) {
            transform: scale3d(1.25, 1.25, 1)
        }
    }
}

.menu-item {
    --my-font-size: .5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $navbar-link-color;
    transition: .25s;
    font-size: var(--my-font-size);

    @include media-breakpoint-up(md) {
        --my-font-size: 1em;
    }

    &:hover {
        color: $navbar-link-color--hover;
    }

    svg {
        fill: currentColor;
    }
}

.icon {
    --icon-height: 2.5em;

    height: var(--icon-height);

    @include media-breakpoint-up(md) {
        --icon-height: 2.75em;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .90em;
    flex-grow: 0;
}

.home-container {

    &>* {
        --my-margin-bottom: 1.5em;

        margin-bottom: var(--my-margin-bottom);

        @include media-breakpoint-up(md) {
            --my-margin-bottom: 2.5em;
        }

        @media (min-width: 1440px) {
            --my-margin-bottom: 3.5em;
        }
    }
}

.main-container {
    --my-margin-top: 1.5em;

    margin-top: var(--my-margin-top);

    @include media-breakpoint-up(md) {
        --my-margin-top: 3em;
    }
}

.balls-row {
    justify-content: center;

    &>* {
        margin-bottom: 1em;           
    }
}

.ball-container {
    position: relative;
    // cursor: pointer;
    transition: .25s ;

    span {
        --my-font-size: 1.5em;

        width: 100%;
        height: 100%;
        font-size: var(--my-font-size);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(md) {
            --my-font-size: 2em;
        }
    }

    svg {
        --ball-width: 4.5em;

        width: var(--ball-width);

        @include media-breakpoint-up(md) {
            --ball-width: 100px;
        }
    }

    // &:active {
    //     transform: scale3d(1.3, 1.3, 1);
    // }
}

.buttons-group {
    display: grid;

    @include media-breakpoint-up(md) {
        display: flex;
        gap: 1em;
    }
}

.form-result {
    --my-margin-top: 1.5em;

    margin-top: var(--my-margin-top);
    margin-bottom: 2em;

    @include media-breakpoint-up(md) {
        --my-margin-top: 0;
    }

    p {
        font-size: .90em;
    }
}

.bigger-text {
    --my-font-size :1.25em;

    font-size: var(--my-font-size);

    @include media-breakpoint-up(md) {
        --my-font-size: 2em;
    }

    span {
        display: block;
        font-size: .85em;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

// css original de react para el estilo y animación del logo en la página Acerca de
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}